body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
    font-size: 14px;
    color: var(--main-cl-black);
}

.t-head {
    background-color: #E8EEEF;
    font-size: 16px;
}

.t-navbar-collapse {
    flex-grow: inherit;
    height: 100%;
}

.t-navbar-expand-lg {
    justify-content: flex-end;
}

.t-head .navbar {
    padding: 0;
    height: 100%;
}

.t-head .row {
    align-self: center;
    min-height: 75px;
}

.t-head .nav-link {
    font-weight: bold;
    display: block;
}

.t-head .nav-item {
    padding: 15px;
}

.t-head .nav-item:hover {
    background-color: #fff;
}

.t-head .nav-item:hover .nav-link {
    color: #51AAB2;
}

.t-head .navbar-nav {
    height: 100%;
}